<div class="navbar">
    <div class="navHead">
        <a href="/">Library Book System</a>
    </div>
    <div class="navItems">
        <a href="/" id="navAdd">Add</a>
        <a href="/show" id="navView">View</a>
        <a href="/search">Search</a>
    </div>
</div>
