<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Book Entry Submission</title>
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('partials/nav') -%>

    <!-- Submission message -->
    <div class="submitContainer">
        <!-- Submission header-->
        <h2 id="submitHead">Success!</h2>

        <!-- Successful submission message-->
        <p id="submitMessage">Your form was successfully submitted. Return to the Book Entry form <a href="/" id="formLink">here</a>.</p>
    </div>
</body>
</html>